$primary : hsl(222, 34%, 17%);
$secondary: hsl(170, 64%, 77%);
$ternary: hsl(224, 18%, 44%);
$fourth: hsl(133, 44%, 51%);
$fifth: hsl(126, 72%, 29%);

html, body, h2, ol, li{
    margin:0;
    padding:0;
}

body{
    background-color: $primary;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    height:100vh;
}

h2{
    text-align:center;
    font-family:verdana;
    color:white;
}

button{
    appearance:none;
    background-color:transparent;
    background-image:linear-gradient(45deg,$secondary, $ternary);
    border:0;
    padding:1em 3em;
    border-radius:1em;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
}

button:hover{
    background-image:linear-gradient(95deg,$fourth, $ternary);
}

button:active{
    background-image:linear-gradient(180deg,$fifth, $ternary);
}

form{
    background-color:rgba(255, 255, 255, 0.226);
padding:2em;
border-radius:2px;
}