$primary : hsl(222, 34%, 17%);
$secondary: hsl(27, 29%, 67%);
$ternary: hsl(224, 18%, 44%);
$fourth: hsl(133, 44%, 51%);
$fifth: hsl(126, 72%, 29%);
$white: hsl(0, 100%, 100%);

html, body, h2, ol, li{
    margin:0;
    padding:0;
}

html{
    height:100%;
}

body{
    background-color: $primary;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    font-family:verdana;
    font-size:12px;
    height:100%;
    background-image:url(./SVG/Background.svg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom center;
}

h2{
    text-align:center;
    font-family:verdana;
    color:white;
    z-index:3;
    position:relative;
}

.bulb{appearance:none;
border-radius:100px;
height:5em;
width:5em;
position:absolute;
top:2em;
left:3em;
color:yellow;
background-color:transparent;
border:2px solid gold;
animation:wiggle 1s alternate-reverse infinite ease-in-out;
}

.bulb + .information__box{
    background-color:white;
    position:absolute;
    padding:1em;
    border-radius:1em;
    top:9em;
    left:2em;
    z-index:2;
    font-family:lato;
    width:9em;
    font-size:14px;
}

article button{
    appearance:none;
    background-color:transparent;
    background-image:linear-gradient(45deg,$secondary, transparent);
    border:0;
    padding:1em 3em;
    border-radius:1em;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
}

article button:hover{
    background-image:linear-gradient(95deg,$fourth, $ternary);
}

article button:active{
    background-image:linear-gradient(180deg,$fifth, $ternary);
}

form{
    background-color:rgba(255, 255, 255, 0.226);
    padding:2em;
    border-radius:2px;
    position:absolute;
    z-index:101;
    backdrop-filter:blur(8px);
    border-radius:1em;
    top:50vh;
    left:50vw;
    transform:translateX(-50%);
    width:80vw;
}

.hidden{
    display:none;
    position:absolute;
}

@keyframes wiggle{
    from{ transform:rotate(45deg);
    }
    to {
        transform:rotate(-45deg);
    }
}

.background{
    display:block;
    fill:hsla(0,100%,100%,0.3);
    position:absolute;
    bottom:0;
    z-index:0;
}

.colorpicker{
    position:absolute;
    width:min-content;
    top:0;
    right:0;
    padding:1em;
    color:white;
}

input[type="range"]{
  appearance:none;  
  background-color:hsla(0,100%,100%,0.3);
  border-radius:100px;
}

::-moz-range-thumb{
    background-color:rgb(201, 201, 201);
    border:none;
}

::-webkit-slider-thumb{
    background-color:rgb(201, 201, 201);
    color:orange;
    border:none;
}

#badge{
    width:100px; 
    position:absolute;
    left:2em;
}

#HAHA {
	padding: 2em;
	z-index: 100;
	display: grid;
	place-items: center;
	grid-gap: 2em;
	grid-template-columns: repeat(4, 1fr);
	width: 25%;
	height: 64vh;
	overflow-x: hidden;
	position: absolute;
	right: 1em;
	bottom: 1em;
	background-color: rgba(81, 81, 81, 0.4);
	backdrop-filter: blur(12px);
	border-radius: 1em;
}

#HAHA.hidden{
	display:none;
}

#HAHA div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.potipoisson{
    width:1vw;
    background-color:white;
    border-radius:200px;
    padding:1em;
}

.talkingFish{
    background-color:hsla(0, 0%, 100%, 0.671);
    border-radius:1em;
    padding:1em;
    font-size:10px;
    min-height:9em;
}

#safeLanding{
    position:absolute;
    top:200px;
    left:200px;
}

#fishingGround{
    bottom:5em;
    left:5em;
    position:absolute;
    appearance:none;
    background-color:inherit;
    border-radius:4em;   

    button{border:0;
        padding:1em;
        background-color:inherit;  
        color:white;   
        border-radius:4em;   

}
}
